*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html , body {
    height: 100%;
    width: 100%;
    background-color: black;
}

div {
    width: 50%;
    margin: 0 25%;
}

img {
    width: 100%;
    margin-top: 50px;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    color: white;
    margin: 10px;
}

p{
    margin-top: 10px;
    color: white;

}